
<div class="lc-block text-center mb-5">
  <div editable="rich">
    <h2 class="display-2 fw-bolder">List Customers&nbsp;</h2>
  </div>
</div>
<div class="container mt-5">
  <table class="table table-striped" *ngIf="customers">
    <thead>
    <tr>
      <th>ID</th><th>Name</th><th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers._embedded.customers">
      <td>{{customer.id}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.email}}</td>
      <td>
        <button class="btn btn-success" (click)="getBills(customer)">Orders</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
